venv/
.venv/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
*.egg-info/

.DS_Store

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
.vscode/settings.json
